In [1]:
import nltk
import csv
import ssl ## workaround for my specific authorization issue
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from rake_nltk import Rake


from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

from sklearn import svm

from gensim.models import Word2Vec
import time

from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score, roc_curve
from sklearn.metrics import classification_report

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [2]:
df =pd.read_csv("out_0426.csv")

In [3]:
df_balanced = pd.concat([df[df["stars"]==5].sample(5000), df[df["stars"]==4].sample(5000), \
                         df[df["stars"]==3].sample(10000), df[df["stars"]==2].sample(5000), \
                         df[df["stars"]==1].sample(5000)], axis=0)

#Larger df
sample_size = 10000
# df_balanced = pd.concat([complete_df[df["stars"]==5].sample(sample_size), complete_df[df["stars"]==4].sample(sample_size), \
#                          complete_df[df["stars"]==3].sample(sample_size*2), complete_df[df["stars"]==2].sample(sample_size), \
#                          complete_df[df["stars"]==1].sample(sample_size)], axis=0)
df_balanced.head(10)

,user_id,stars,useful,text,tokenized_text,tokenized_text_string,compound,neg,neu,pos,star_revised
150239,G-9QboxmMfNLafH_X_HZvQ,5,1,Really friendly and honest service and quality...,"['realli', 'friendli', 'honest', 'servic', 'qu...",realli friendli honest servic qualiti work wel...,0.9201,0.045,0.660,0.296,1
149511,XIWKPSY9T57bJbn2lEF3ow,5,2,I have to admit that I had reservations about ...,"['admit', 'reserv', 'bar', 'pool', 'concern', ...",admit reserv bar pool concern diminish realiz ...,0.6124,0.000,0.737,0.263,1
189527,1q_YMI8NQjq93JKJzFpMDg,5,0,Put this restaurant on the top of your list fo...,"['put', 'restaur', 'top', 'list', 'north', 'en...",put restaur top list north end extrem delici m...,0.4939,0.083,0.736,0.181,1
131081,E_bvTNcbGT1k8fJT9Vegzw,5,0,Love this place! Excellent service and ambienc...,"['love', 'place', 'excel', 'servic', 'ambienc'...",love place excel servic ambienc best massag ev...,0.9413,0.000,0.468,0.532,1
141609,5zeOnCBHToQRKvdzBDDlSQ,5,0,Found this place on yelp thought we would give...,"['found', 'place', 'yelp', 'thought', 'would',...",found place yelp thought would give shot every...,0.3612,0.000,0.839,0.161,1
137738,FsY4mm3lLWykDB_f1GQBwg,5,0,I'm a fashionista and have quite a wardrobe (o...,"[""'m"", 'fashionista', 'quit', 'wardrob', 'ok',...",'m fashionista quit wardrob ok three closet ta...,0.7906,0.000,0.778,0.222,1
198008,-XS0hiiOrWyH_MJDBsq41Q,5,0,My friend had a birthday party here on Septemb...,"['friend', 'birthday', 'parti', 'septemb', '17...",friend birthday parti septemb 17th staff amaz ...,0.9524,0.000,0.499,0.501,1
83769,Cc-RQbnVWO6EM0mLyIweEg,5,0,Came to check out one of the most famous brunc...,"['came', 'check', 'one', 'famou', 'brunch', 'p...",came check one famou brunch place area colleag...,0.9442,0.000,0.728,0.272,1
29279,Pqa1rGz_gXDCbPVwvxykjw,5,0,We went in for sake social hour without a rese...,"['went', 'sake', 'social', 'hour', 'without', ...",went sake social hour without reserv parti 9. ...,0.9118,0.000,0.682,0.318,1
785,gjqVMjWhRrH8FuYbJSwfmA,5,0,This is fantastic! We had cold lobster rolls a...,"['fantast', 'cold', 'lobster', 'roll', 'shrimp...",fantast cold lobster roll shrimp burger server...,0.6808,0.043,0.804,0.153,1

In [4]:
len(df_balanced)

30000

In [5]:
df = df_balanced.reset_index()
df.head()

,index,user_id,stars,useful,text,tokenized_text,tokenized_text_string,compound,neg,neu,pos,star_revised
0,150239,G-9QboxmMfNLafH_X_HZvQ,5,1,Really friendly and honest service and quality...,"['realli', 'friendli', 'honest', 'servic', 'qu...",realli friendli honest servic qualiti work wel...,0.9201,0.045,0.660,0.296,1
1,149511,XIWKPSY9T57bJbn2lEF3ow,5,2,I have to admit that I had reservations about ...,"['admit', 'reserv', 'bar', 'pool', 'concern', ...",admit reserv bar pool concern diminish realiz ...,0.6124,0.000,0.737,0.263,1
2,189527,1q_YMI8NQjq93JKJzFpMDg,5,0,Put this restaurant on the top of your list fo...,"['put', 'restaur', 'top', 'list', 'north', 'en...",put restaur top list north end extrem delici m...,0.4939,0.083,0.736,0.181,1
3,131081,E_bvTNcbGT1k8fJT9Vegzw,5,0,Love this place! Excellent service and ambienc...,"['love', 'place', 'excel', 'servic', 'ambienc'...",love place excel servic ambienc best massag ev...,0.9413,0.000,0.468,0.532,1
4,141609,5zeOnCBHToQRKvdzBDDlSQ,5,0,Found this place on yelp thought we would give...,"['found', 'place', 'yelp', 'thought', 'would',...",found place yelp thought would give shot every...,0.3612,0.000,0.839,0.161,1

In [6]:
len(df)

30000

## TF-IDF

In [100]:
from sklearn.feature_extraction.text import TfidfVectorizer
sentences = df["tokenized_text_string"]
# sentences = cleaned_df["text"]

vectorizer = TfidfVectorizer(norm = False, smooth_idf = False, min_df=0.005)
df["tfidf_vectors"] = vectorizer.fit_transform(sentences)
dd = vectorizer.fit_transform(sentences)
ddf =pd.DataFrame(dd.todense())
ddf

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,4.580324,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
29999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.121567,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

## Hashing Vectorizer

In [110]:
from sklearn.feature_extraction.text import HashingVectorizer

sentences = df["tokenized_text_string"]

vectorizer = HashingVectorizer(norm = None, n_features = 1000)
df["hashing_vectors"] = vectorizer.fit_transform(sentences)

dd = vectorizer.fit_transform(sentences)
ddh =pd.DataFrame(dd.todense())
ddh

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
29997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Word2Vec

In [125]:
from gensim.models import Word2Vec
import time
# Skip-gram model (sg = 1)
# size = 1000
window = 3
min_count = 3
workers = 3
sg = 1

word2vec_model_file = 'word2vec_' + str(size) + '.model'
start_time = time.time()
stemmed_tokens = pd.Series(df['tokenized_text']).values
# Train the Word2Vec Model
# w2v_model = Word2Vec(stemmed_tokens, min_count = min_count, size = size, workers = workers, window = window, sg = sg)
w2v_model = Word2Vec(stemmed_tokens, min_count = 3, vector_size=1000)
print("Time taken to train word2vec model: " + str(time.time() - start_time))
w2v_model.save(word2vec_model_file)

Time taken to train word2vec model: 32.84359574317932

In [126]:
# Load the model from the model file
sg_w2v_model = Word2Vec.load(word2vec_model_file)
# Unique ID of the word
print("Index of the word 'food':")
print(sg_w2v_model.wv.key_to_index["a"])
# Total number of the words 
print(len(sg_w2v_model.wv))
# Print the size of the word2vec vector for one word
print("Length of the vector generated for a word")
print(len(sg_w2v_model.wv.get_vector("a", norm=True)))
# Get the mean for the vectors for an example review
print("Print the length after taking average of all word vectors in a sentence:")
# print(np.mean([sg_w2v_model[token] for token in df['tokenized_text'][0]], axis=0))
print(np.mean([sg_w2v_model.wv.get_vector(token, norm=True) for token in df['tokenized_text'][11243]], axis=0))

Index of the word 'food':
4
168
Length of the vector generated for a word
1000
Print the length after taking average of all word vectors in a sentence:
[ 4.77914177e-02 -2.53893454e-02 -1.35463029e-02  5.32147735e-02
 -8.55880510e-03 -7.63592916e-03  3.04604005e-02  1.05943186e-02
 -4.58948594e-03  8.54618102e-03 -1.96150541e-02  5.97004918e-03
  7.13171484e-03  1.64427254e-02  1.67092290e-02 -8.77008587e-03
 -4.20993827e-02 -5.53812347e-02  6.50733989e-03  8.04704428e-03
  1.26478123e-02  3.02573142e-04 -4.63775843e-02  3.89703587e-02
 -1.30587853e-02 -1.36456136e-02  5.09410761e-02 -5.09953536e-02
 -3.33961211e-02  9.79879219e-03  7.79924691e-02  2.10963488e-02
  1.34966020e-02  2.99918768e-03 -3.31212883e-03  8.06599855e-03
  1.26763079e-02  2.11314429e-02 -6.95192115e-03 -3.05405410e-04
 -2.01930720e-02 -3.73618677e-02 -7.02034906e-02  3.78745422e-02
 -4.78954576e-02 -2.95077283e-02 -6.30067242e-03  4.13317420e-02
 -3.92505340e-03 -8.90737341e-04  5.55181468e-04 -1.72849651e-02
  3.54797416e-03  6.07493706e-03 -7.97217712e-03  5.99694997e-03
  1.54104503e-02 -2.90639442e-03  7.32589979e-03 -5.82353096e-04
  5.49785653e-03 -8.85175448e-03  8.37547332e-03 -2.34149210e-02
 -1.89477541e-02  1.65401865e-02  2.56774984e-02 -9.84632596e-03
 -2.04525795e-02 -2.01826878e-02  1.35652078e-02 -3.08468845e-03
 -2.05722358e-02 -4.77103656e-03 -1.16094016e-02 -3.13048661e-02
 -3.52812149e-02  9.40511469e-03 -4.27187607e-03  4.01572734e-02
  1.57247987e-02  6.40075523e-05  8.76839459e-03 -2.10176501e-02
 -3.19648869e-02 -4.16490342e-03  6.84948778e-03 -4.50212602e-03
  9.85173322e-03  1.11969626e-02  3.96579830e-03  1.29275713e-02
  3.77755761e-02  1.86238885e-02 -1.67597234e-02 -4.24368978e-02
  8.48189183e-03  4.84536700e-02 -5.07347286e-03  1.51127446e-02
  8.76544975e-03 -1.15861716e-04  4.08514291e-02  6.44796295e-03
 -7.61396019e-04  2.07414832e-02 -8.32200330e-03 -2.82941721e-02
 -3.71519215e-02  1.55089749e-02 -4.05840715e-03  7.23312981e-03
  2.85411230e-03  2.98193432e-02 -1.49038006e-02  4.67842794e-04
 -1.21496152e-02 -1.05914306e-02 -2.95785591e-02 -8.65632668e-03
 -1.50026819e-02 -9.72269103e-03 -1.43283997e-02 -1.01580452e-02
 -2.23682392e-02 -5.62719535e-03 -1.51762115e-02 -9.64973960e-03
  2.91979825e-03 -1.93596110e-02 -2.79521979e-02  2.43979730e-02
 -7.98275415e-03 -1.21372277e-02  1.43494671e-02  9.65265033e-04
 -4.11797352e-02  1.25429360e-02 -2.53792293e-02  2.03702319e-02
  2.46536136e-02  2.08363472e-03  1.91363133e-02 -2.04462297e-02
 -2.18865983e-02 -2.31273137e-02 -4.71540615e-02 -3.34611312e-02
 -1.99972140e-03  1.10165346e-02 -4.92328219e-02 -2.25755312e-02
 -3.44167277e-02  6.45101909e-03  2.76490171e-02  1.68940723e-02
 -6.30720565e-03  6.52303454e-03  3.25459801e-02 -2.92083044e-02
  1.04954801e-04 -1.00919697e-02  5.75826829e-03  2.65332125e-02
  2.54331827e-02  6.14525459e-04  2.17430014e-02  1.35732247e-02
  3.09387166e-02 -8.37994332e-04  6.98168203e-03 -7.63104437e-03
  7.36800581e-03  7.85139203e-03 -1.91203114e-02 -1.74640417e-02
  6.02308474e-03  1.10137565e-02  1.69615932e-02  1.03504304e-02
  1.78428169e-03 -1.36285545e-02 -2.63119931e-03  1.16565870e-02
 -3.90025750e-02  3.02823130e-02 -7.47048343e-03 -2.29569189e-02
  4.53214598e-04  5.71050728e-03 -2.37390921e-02 -3.25735053e-03
 -1.27982171e-02 -1.26147466e-02 -1.49504542e-02  6.80108415e-03
 -7.59620592e-03 -1.12917670e-03 -2.08730493e-02  1.23628853e-02
 -4.62097873e-04 -6.22213958e-03 -2.64602574e-03  1.49662094e-03
 -3.66486609e-02  8.29252694e-03 -6.82354113e-03 -1.15647363e-02
 -8.14863481e-03  2.45436896e-02 -1.63841080e-02  3.44184437e-03
  1.00759165e-02 -1.77331008e-02  1.34947617e-02  3.25785726e-02
 -1.30089968e-02  6.19942928e-03 -2.57355943e-02 -3.43189117e-06
 -1.75270848e-02  1.60570275e-02  2.02973373e-02  9.75826290e-03
  3.29897702e-02  1.15220957e-02 -1.69952624e-02 -6.64164452e-03
 -2.18684436e-03 -1.61917228e-02  2.88296267e-02  1.16721550e-02
  1.47224236e-02 -1.57663785e-02  1.31401662e-02 -1.82934087e-02
  2.06809651e-04  7.28197535e-03  1.92317404e-02  7.34940358e-03
  2.42812652e-02  5.21286251e-03  2.60548498e-02 -2.38275491e-02
 -7.41092488e-04  2.65765004e-02 -2.25348026e-02  2.94075590e-02
 -2.75126938e-02 -3.03637213e-03 -1.15279900e-02 -1.13180773e-02
  7.73002533e-03 -8.44838098e-03 -3.25493189e-03 -9.66470689e-03
  5.02019608e-03 -2.17688759e-03  2.57884432e-02 -3.09485290e-02
  9.33616422e-03 -3.38604581e-03 -2.32209712e-02  8.79174471e-03
  6.78837625e-03  2.68217437e-02 -1.84096284e-02 -4.26849787e-04
  5.56485541e-03  3.02991103e-02 -8.67390167e-03 -1.13473497e-02
 -6.32302836e-03  2.37797503e-03  6.28432864e-03  1.78193841e-02
  7.64999259e-03 -2.47009676e-02 -1.45938396e-02  3.05398498e-02
 -1.47279054e-02 -1.66176967e-02  5.82180778e-03  9.76146664e-03
  6.68854406e-03 -3.93616827e-03 -1.10119414e-02 -4.32946114e-03
 -2.58254679e-03  5.77154453e-04  7.18268380e-03 -1.33424606e-02
  2.86287628e-03  2.31477129e-03  3.66873620e-03 -1.40694994e-02
  1.38387259e-03  7.08448794e-03 -2.69318577e-02 -1.48085342e-03
  7.36793131e-03 -1.05523197e-02 -1.75404511e-02  2.84002861e-03
  1.61697567e-02  1.48825552e-02 -9.68780927e-03 -1.23742856e-02
  4.44372511e-03  2.81805843e-02 -1.19498493e-02  1.67255066e-02
 -2.40353104e-02  1.01710008e-02  2.18576957e-02  9.70554538e-03
  7.53850630e-03 -4.48158680e-04  2.52765603e-02  9.47674457e-03
 -5.54251904e-03  3.87471693e-04  1.04766339e-02 -1.14392769e-02
 -4.95969318e-03  5.61604043e-03  1.06328130e-02 -2.18944754e-02
  2.86277360e-03 -7.54512893e-03  2.49589626e-02 -1.82653740e-02
  1.55314675e-03 -1.11237420e-02 -2.00272854e-02 -1.71754863e-02
 -6.52002683e-03  1.21852718e-02  1.96391828e-02  4.78760013e-03
  2.66961902e-02 -8.18736665e-03  5.12022479e-03 -3.09594232e-03
  6.55690965e-04 -7.45396549e-03  4.07734187e-03  2.06529554e-02
 -2.34817564e-02 -6.63701212e-03 -1.96895953e-02  1.37920037e-03
  1.66749600e-02  2.96464339e-02  1.94163918e-02  2.60311533e-02
 -2.97305696e-02 -2.91293170e-02  1.58584435e-02  1.84501242e-02
 -4.76068584e-03 -4.05132910e-03 -2.29434781e-02 -1.00904563e-02
 -8.16880784e-04  1.09346472e-02 -1.31574469e-02 -1.28332274e-02
 -1.06682498e-02  4.57552681e-03  1.56352390e-02  2.04364676e-02
  2.70944182e-02 -1.22706604e-03 -2.01868955e-02 -2.80852746e-02
  8.27926770e-03 -1.42041966e-02  1.12235704e-02 -1.34658243e-03
 -7.97175150e-03 -1.87950768e-02 -1.03695495e-02  1.23021007e-02
  5.13242185e-03 -8.79348628e-03 -5.59442304e-03  6.89211302e-04
 -1.67133252e-03 -1.87451821e-02  2.94048362e-03  1.50490813e-02
 -3.56568093e-03  2.90617067e-02 -1.74897583e-03  4.06832527e-03
 -3.45629789e-02  5.77832852e-03  4.92385682e-03 -1.33298645e-02
 -7.77028548e-03 -3.29291215e-03 -5.76622086e-03 -2.71219196e-05
 -2.27981377e-02  1.71686453e-03  1.14251080e-03 -5.45027899e-03
  4.97746689e-04  2.23489925e-02 -4.68642451e-03  2.53725033e-02
  5.17645013e-03  8.14965460e-03  8.31900351e-03  4.86595556e-03
  8.65820423e-03 -1.57028828e-02 -3.33765917e-03  4.78526875e-02
 -3.76254524e-04 -2.84582749e-03  3.61118689e-02 -3.72689329e-02
  4.96103521e-03  1.08211264e-02 -6.81894366e-03  1.33401286e-02
 -6.84276037e-03  3.36851692e-03  2.04937384e-02 -2.03686394e-03
  2.19626329e-03  2.02610474e-02  2.10233890e-02  2.18161847e-02
 -4.60385494e-02  3.97228682e-03 -1.26121799e-03 -2.25093327e-02
  4.69147228e-03  1.92372259e-02 -2.60759108e-02  2.17370950e-02
 -9.84384492e-03 -5.93733834e-03  8.62299372e-03 -5.60716540e-03
 -3.07862926e-02  5.62030589e-04  8.28875578e-04 -2.15786826e-02
 -9.01081506e-03  1.04365880e-02 -2.97822431e-02 -5.70859527e-03
 -2.05103797e-03 -1.31000509e-03 -2.11801510e-02 -8.37942865e-03
 -1.78978150e-03  1.45306019e-03 -2.30358029e-03 -7.98991695e-03
 -5.08239726e-03 -1.84930600e-02  1.04191471e-02  1.85278803e-02
  9.36241355e-03  5.67689165e-03  1.63950659e-02  1.75708830e-02
 -6.38688449e-03 -2.77772662e-04 -6.37917314e-03  5.45625389e-03
 -2.43029278e-02  1.00555667e-03  4.91656363e-03  7.16163032e-03
 -7.38474540e-03  1.20532745e-02 -6.97729597e-03  4.06563189e-03
 -3.18317227e-02 -1.11290533e-02  2.76536029e-03  1.34321675e-02
 -3.15531269e-02  2.66698725e-03  5.69550414e-03 -7.50684645e-03
  1.25078810e-02 -1.87663212e-02  6.45736512e-03 -2.25599171e-04
 -1.70406587e-02  1.19468486e-02 -1.40431430e-02 -7.22311717e-03
  5.84179908e-03 -1.72664807e-03 -1.15229143e-02 -3.64903547e-02
  1.15742292e-02 -1.35361329e-02  7.01064430e-03 -8.24883487e-03
  1.17527433e-02 -2.93193292e-02 -4.36626095e-03  1.67263411e-02
  1.28296018e-02 -3.04409023e-02  3.23400833e-02  6.70837890e-03
  1.73879713e-02 -3.29204835e-03  5.68740629e-03  7.20519945e-03
 -9.42846574e-03 -2.22055125e-03  1.32420976e-02 -4.19694418e-03
 -5.65727660e-03 -2.19540391e-02 -1.29125745e-03 -1.57164261e-02
 -8.83099809e-03 -1.92925110e-02  2.93528829e-02  8.32280051e-03
 -1.06166620e-02 -2.06932370e-02  9.43621062e-03  2.25674715e-02
  1.63122686e-03 -1.00271022e-02 -2.32805870e-02 -2.09600795e-02
  3.34172952e-03 -7.89702591e-03 -1.71923917e-02 -2.94299703e-02
 -2.38712225e-03 -5.28190890e-03  1.09318271e-02  1.16945105e-02
  8.72030578e-05 -1.61981210e-02  7.34523078e-03  5.45837590e-03
 -7.71327456e-03 -2.63466649e-02 -1.54917305e-02  5.71141834e-04
  4.38603200e-03  1.74834877e-02 -1.53806144e-02 -1.44289015e-02
 -4.65023424e-03 -1.39023056e-02  8.16781167e-03  2.04084348e-02
  1.19309984e-02  4.53355499e-02 -3.38492799e-03 -1.68004483e-02
 -1.69166252e-02  1.34111680e-02  4.68063876e-02 -3.14097758e-03
 -9.73676145e-03  2.65750289e-03 -1.90336332e-02 -1.75824407e-02
  2.69927457e-02  3.23482007e-02  1.53636690e-02 -4.11261730e-02
  8.07263982e-03 -1.62052345e-02  2.53419788e-03  8.89297482e-03
  1.58025194e-02 -2.59846449e-03 -5.86408889e-03 -8.70318094e-04
 -3.10408510e-02  6.63670013e-03 -1.51416950e-03 -6.31275447e-03
  1.72139902e-03  3.00355162e-02  1.65273119e-02  2.01693643e-02
 -8.55673570e-03 -2.25514956e-02 -2.09683515e-02  1.92785263e-03
 -2.03268752e-02  2.91503910e-02  1.68334547e-04 -7.82504212e-03
 -1.74262282e-02 -2.92710401e-02  1.85456891e-02 -3.66325080e-02
  7.71488901e-03 -4.62430157e-02 -2.92474800e-03  3.20357978e-02
  1.59925632e-02 -1.58176515e-02  4.22665365e-02 -1.35512250e-02
  2.83925086e-02  2.45880596e-02 -4.52921679e-03  1.17480922e-02
  6.57534692e-03  1.49279204e-03 -6.62973197e-03  1.98378488e-02
  1.57798771e-02 -8.00991151e-03  5.68399914e-02  1.27963703e-02
 -2.05117539e-02 -1.34609016e-02 -3.64141613e-02 -6.98510092e-03
 -1.87008977e-02  1.82644054e-02  1.96232218e-02 -3.44161205e-02
 -1.37050124e-02  9.29790270e-03  5.13569787e-02  4.32833694e-02
 -1.74191557e-02  2.82332525e-02  1.85990997e-03  4.10382287e-04
 -2.60333773e-02 -1.42615950e-02  1.42488908e-03  3.62556130e-02
 -4.57394198e-02 -1.38713596e-02  2.18320917e-02 -3.32156336e-03
 -2.38404721e-02  8.07394832e-03 -1.27113638e-02 -2.88318191e-03
  1.06597543e-02  3.10195629e-02  3.76072899e-02  2.30347980e-02
 -1.97627079e-02 -7.25664292e-03 -4.12661536e-03  1.68549444e-03
  1.09889647e-02 -1.78972259e-02 -4.81823506e-03 -1.83244459e-02
 -1.40168453e-02  3.50149279e-03  1.04652997e-02  2.84781889e-03
 -1.40163749e-02  3.44687365e-02  2.73998044e-02 -4.42304909e-02
  4.72888835e-02  1.16831732e-04 -5.04007414e-02  5.19893132e-02
 -2.95485444e-02  2.52394062e-02  1.77058770e-04  1.98935140e-02
 -6.49389718e-03 -3.82562988e-02  4.21468168e-03  3.25149447e-02
 -2.46474873e-02 -1.49943279e-02 -4.00668290e-03  9.46720783e-03
 -2.28467165e-04  6.66498439e-04  3.37547623e-02 -2.10208576e-02
  2.32690815e-02  3.46236629e-03  2.11305562e-02  4.11683060e-02
  1.72667746e-02 -3.69071402e-02  1.19052986e-02 -2.46073827e-02
 -1.16503320e-03  1.10188741e-02  2.14720778e-02 -2.67611332e-02
 -2.85357852e-02 -2.57042306e-03 -2.35456917e-02 -1.05801979e-02
  6.49713492e-03 -1.37295146e-02 -2.04263926e-02  2.54076831e-02
 -2.16340106e-02  2.49609984e-02  1.02196848e-02  3.62728350e-02
 -1.72668956e-02 -7.70266587e-03  9.69043467e-03 -7.57404044e-03
 -3.08158435e-02  1.67396548e-03 -1.93394870e-02  1.17183188e-02
 -1.16798673e-02  8.19425657e-03  1.87914819e-02  1.69857554e-02
  2.82297581e-02 -1.67702115e-03 -2.97883153e-02  1.98574876e-03
 -5.23765478e-03 -9.99985076e-03 -3.40831168e-02 -1.56781562e-02
 -4.03828075e-04 -1.05315307e-02  1.12104800e-03  2.40867380e-02
 -2.28180690e-03 -2.46976758e-03  3.16780508e-02  2.58238036e-02
  1.38233220e-02 -1.90875977e-02  2.13478021e-02  3.72255640e-03
 -1.99782886e-02 -3.64434836e-03 -1.02123292e-02 -2.12859474e-02
  1.67644685e-04 -3.21404040e-02  1.35536510e-02 -1.18734399e-02
  1.33157037e-02  1.36458855e-02  1.16441930e-02  9.45125334e-03
 -2.19582161e-03  1.08287307e-02  5.00241760e-03 -8.35051388e-03
 -9.30074975e-03  4.19726362e-04 -7.58655136e-03 -1.88072911e-03
 -3.23736072e-02  8.22733529e-03 -2.19059759e-03 -3.31122661e-03
  4.15364653e-03  6.83024665e-03  1.02002744e-03  1.17685571e-02
 -1.17238536e-02 -2.95629557e-02 -6.36193017e-03 -9.48459283e-03
  3.21312435e-03 -1.56701226e-02  1.84444133e-02  7.80468900e-03
 -1.51860472e-02 -2.13840790e-02 -7.03476742e-03  2.17237882e-02
 -3.28092068e-03 -3.70675884e-03  3.05809248e-02  2.39008013e-02
  2.26170588e-02 -9.68126208e-03 -4.10353057e-02 -3.60038728e-02
 -4.17372733e-02 -3.59233236e-03 -1.34390441e-03  3.02785579e-02
  2.68280860e-02  3.14803678e-03 -1.35613931e-02 -6.06348552e-03
  2.44912691e-03  9.29012615e-03 -1.74956359e-02 -1.61883757e-02
  3.30274529e-03 -1.30425412e-02  5.20239258e-03 -1.60204004e-02
 -1.43059026e-02  1.48121510e-02 -6.29842049e-03  1.32474918e-02
  1.53347552e-02 -2.36643497e-02 -1.91894214e-04 -1.73950419e-02
  8.45135190e-03  1.48198707e-02  2.21326798e-02  7.40516791e-03
  3.39063536e-03  1.22532723e-02  1.18882386e-02 -2.18492234e-03
  2.34952830e-02  2.26486218e-03  1.38825597e-02  1.15909949e-02
 -1.57991319e-03  6.35601347e-03 -2.04237159e-02  6.24092994e-03
  2.52846181e-02  2.96666585e-02 -1.28379762e-02 -9.35521629e-03
 -5.70241828e-03 -3.08503117e-03  3.51952054e-02 -1.77934431e-02
 -1.43376160e-02 -3.70446593e-03  2.25963462e-02  2.06908137e-02
  2.31060293e-03 -8.41418374e-03  1.46607291e-02  1.25795817e-02
 -1.90735999e-02  1.97756160e-02 -1.05336383e-02 -2.30390485e-02
 -3.21045591e-05 -3.60581093e-02 -1.09346118e-03 -1.35860471e-02
  1.90261528e-02 -3.16517837e-02  1.08044799e-02 -2.07570847e-02
  1.73557755e-02 -4.78143943e-03 -1.89877525e-02 -9.74513823e-04
  2.41398122e-02 -1.99459624e-02 -1.62418392e-02 -2.28068624e-02
 -3.87745127e-02 -4.12936024e-02 -8.82737525e-03  8.06907075e-04
  3.17293145e-02 -2.05368046e-02 -6.74317684e-03  1.12773860e-02
 -6.32756855e-03  6.63544796e-03  4.54185577e-03 -3.10049243e-02
  2.30380353e-02  3.68482969e-03  8.56321864e-03 -2.31842380e-02
 -2.52000596e-02 -2.10352726e-02 -6.22307556e-03 -1.43575687e-02
  1.00463908e-02  7.48212263e-02 -7.92606696e-02 -1.92084666e-02
  2.35519633e-02 -4.69303019e-02  2.72532329e-02  1.30056087e-02
  1.54273286e-02 -3.09882257e-02 -2.11818926e-02  5.98829612e-02
  4.63915803e-03  8.00310913e-03 -3.74413305e-03  2.03546528e-02
 -1.50567684e-02  8.85652006e-03  1.66395828e-02 -2.16969661e-02
 -2.79457159e-02  6.95594400e-02  1.80087145e-02  4.76985537e-02
  1.29180606e-02 -6.94490820e-02  5.50113469e-02 -4.79826964e-02
  4.58063856e-02 -7.52772763e-02  7.45172799e-03  8.94533005e-03
  5.19572617e-03 -2.03056782e-02  1.11540062e-02  9.99736600e-03
 -1.15989493e-02  6.65798597e-03  3.75990085e-02 -6.52167201e-03
  4.39357795e-02  1.90140051e-03  9.72875580e-03  5.50084189e-03
  1.29610552e-02 -1.04205878e-02 -2.69627534e-02 -1.66575480e-02
  5.36142662e-03  3.13453958e-03  1.81788616e-02 -1.77533384e-02
  2.00053211e-02 -2.01793741e-02 -7.73405284e-03  2.46664621e-02
 -3.09722312e-03 -3.42889037e-03  2.73766485e-03  1.14997793e-02
 -3.61962132e-02 -6.46044314e-02 -5.76027390e-03  2.73808073e-02
 -4.16512266e-02  2.59936396e-02 -4.53192070e-02  4.81031276e-03
 -1.90198515e-02  1.08692115e-02  4.06426266e-02 -1.22610806e-02
  4.51928936e-02  3.67793553e-02 -1.61338579e-02 -6.56892657e-02
 -1.48707954e-02  3.74132618e-02  5.22711501e-03  6.69324398e-03
  6.66655554e-03 -5.75257130e-02  4.30362532e-03  9.63613670e-03
  1.75897814e-02 -2.26995051e-02  3.64906639e-02 -2.47058459e-02
 -5.82639314e-02 -6.72342181e-02  4.56444509e-02 -2.61821952e-02
 -7.04081506e-02  2.21261661e-02  3.58720273e-02 -1.80128850e-02
 -2.56410014e-04  2.24495940e-02  4.04080302e-02  1.58874858e-02
 -2.04427633e-02  5.87429618e-03 -2.00309828e-02 -1.60316341e-02]

In [127]:
# def vecc(stem):
#     return np.mean([sg_w2v_model.wv.get_vector(token, norm=True) for token in stem], axis=0)
# ddw = df["tokenized_text"].apply(vecc)
def vecc(stem):
    stem_list = []
    for token in stem:
        if token not in sg_w2v_model.wv:
            continue
        else:
            stem_list.append(token)
    return np.mean([sg_w2v_model.wv.get_vector(token, norm=True) for token in stem_list], axis=0)

In [128]:
ddw = df["tokenized_text"].apply(vecc)
ddw.head()

0    [0.04423939, -0.025089698, -0.015006176, 0.050...
1    [0.0426616, -0.024300732, -0.014976867, 0.0484...
2    [0.045918547, -0.025017776, -0.01437428, 0.051...
3    [0.04766648, -0.022788648, -0.01194472, 0.0462...
4    [0.04316774, -0.02519928, -0.013906074, 0.0536...
Name: tokenized_text, dtype: object

In [129]:
ddw = ddw.tolist()

In [130]:
ddw = pd.DataFrame(ddw)
len(ddw)

30000

## Basic ML DF

In [141]:
ml = df[["text","stars","compound","neg","neu","pos","star_revised"]]
len(ml)

30000

In [142]:
ml.head()

,text,stars,compound,neg,neu,pos,star_revised
0,Really friendly and honest service and quality...,5,0.9201,0.045,0.660,0.296,1
1,I have to admit that I had reservations about ...,5,0.6124,0.000,0.737,0.263,1
2,Put this restaurant on the top of your list fo...,5,0.4939,0.083,0.736,0.181,1
3,Love this place! Excellent service and ambienc...,5,0.9413,0.000,0.468,0.532,1
4,Found this place on yelp thought we would give...,5,0.3612,0.000,0.839,0.161,1

## Complete DF

In [143]:
complete_df = pd.concat([ml, ddf, ddh, ddw], axis=1)
len(complete_df)

30000

In [144]:
complete_df.head(10)

,text,stars,compound,neg,neu,pos,star_revised,0,1,2,...,990,991,992,993,994,995,996,997,998,999
0,Really friendly and honest service and quality...,5,0.9201,0.045,0.660,0.296,1,0.0,0.0,0.0,...,0.036627,-0.019438,0.001469,0.021418,0.040891,0.016560,-0.018130,0.005157,-0.023405,-0.017994
1,I have to admit that I had reservations about ...,5,0.6124,0.000,0.737,0.263,1,0.0,0.0,0.0,...,0.037996,-0.016160,0.005254,0.025708,0.041000,0.020114,-0.019419,0.003843,-0.021275,-0.014785
2,Put this restaurant on the top of your list fo...,5,0.4939,0.083,0.736,0.181,1,0.0,0.0,0.0,...,0.036637,-0.017719,-0.001819,0.022197,0.040125,0.017015,-0.019663,0.005574,-0.019150,-0.017642
3,Love this place! Excellent service and ambienc...,5,0.9413,0.000,0.468,0.532,1,0.0,0.0,0.0,...,0.036225,-0.017077,0.003762,0.025469,0.040017,0.017514,-0.021493,0.002756,-0.027396,-0.015407
4,Found this place on yelp thought we would give...,5,0.3612,0.000,0.839,0.161,1,0.0,0.0,0.0,...,0.034032,-0.016568,-0.003202,0.019058,0.040529,0.015097,-0.018514,0.006709,-0.016303,-0.017254
5,I'm a fashionista and have quite a wardrobe (o...,5,0.7906,0.000,0.778,0.222,1,0.0,0.0,0.0,...,0.038534,-0.017201,0.001140,0.022438,0.040441,0.016561,-0.017883,0.002561,-0.023752,-0.016039
6,My friend had a birthday party here on Septemb...,5,0.9524,0.000,0.499,0.501,1,0.0,0.0,0.0,...,0.036170,-0.016116,-0.002077,0.021496,0.039279,0.016376,-0.017853,0.004326,-0.019120,-0.016249
7,Came to check out one of the most famous brunc...,5,0.9442,0.000,0.728,0.272,1,0.0,0.0,0.0,...,0.036003,-0.015878,-0.002203,0.021966,0.041750,0.016877,-0.024122,0.005083,-0.018470,-0.015612
8,We went in for sake social hour without a rese...,5,0.9118,0.000,0.682,0.318,1,0.0,0.0,0.0,...,0.037445,-0.016474,-0.001844,0.019111,0.038388,0.014544,-0.016057,0.004132,-0.018469,-0.016701
9,This is fantastic! We had cold lobster rolls a...,5,0.6808,0.043,0.804,0.153,1,0.0,0.0,0.0,...,0.037781,-0.016277,-0.002372,0.020410,0.041691,0.014672,-0.019065,0.003612,-0.018132,-0.014847

In [145]:
# complete_df = df_balanced
len(complete_df)

30000

In [146]:
# compression_opts = dict(method='zip', archive_name='out.csv')
# complete_df.to_csv('complete.zip', index=False, compression=compression_opts)

In [148]:
complete_df.iloc[:,7:]

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.036627,-0.019438,0.001469,0.021418,0.040891,0.016560,-0.018130,0.005157,-0.023405,-0.017994
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.037996,-0.016160,0.005254,0.025708,0.041000,0.020114,-0.019419,0.003843,-0.021275,-0.014785
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.036637,-0.017719,-0.001819,0.022197,0.040125,0.017015,-0.019663,0.005574,-0.019150,-0.017642
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.036225,-0.017077,0.003762,0.025469,0.040017,0.017514,-0.021493,0.002756,-0.027396,-0.015407
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.034032,-0.016568,-0.003202,0.019058,0.040529,0.015097,-0.018514,0.006709,-0.016303,-0.017254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.036002,-0.016564,-0.002614,0.019775,0.039461,0.014942,-0.019962,0.004723,-0.019841,-0.016614
29996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.035718,-0.016143,-0.001573,0.021464,0.039454,0.016461,-0.021266,0.005889,-0.015884,-0.015449
29997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.036524,-0.017683,-0.003197,0.018658,0.036320,0.012450,-0.017898,0.005714,-0.016782,-0.015415
29998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.032326,-0.010404,0.000304,0.018111,0.039603,0.021161,-0.025898,0.005554,-0.015790,-0.016263
29999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.121567,...,0.036842,-0.013805,-0.002244,0.019732,0.039104,0.015274,-0.017533,0.002662,-0.013735,-0.012624

## 优先测试SVM

## Polarity_Score

In [184]:
X = complete_df[["compound","neg","neu","pos"]]
# X = X.head(10000)
y = complete_df["star_revised"]
# y = y.head(10000)

X_train, X_final_test, y_train, y_final_test = train_test_split(X, y, test_size=0.1, shuffle = True, random_state=123)

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, shuffle = True, random_state=123)

scaler = MinMaxScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [185]:
cc = complete_df[["text","star_revised","compound","neg","neu","pos"]]
cc

,text,star_revised,compound,neg,neu,pos
0,Really friendly and honest service and quality...,1,0.9201,0.045,0.660,0.296
1,I have to admit that I had reservations about ...,1,0.6124,0.000,0.737,0.263
2,Put this restaurant on the top of your list fo...,1,0.4939,0.083,0.736,0.181
3,Love this place! Excellent service and ambienc...,1,0.9413,0.000,0.468,0.532
4,Found this place on yelp thought we would give...,1,0.3612,0.000,0.839,0.161
...,...,...,...,...,...,...
29995,"""We are In-Network with many insurances and ha...",-1,0.7572,0.041,0.848,0.111
29996,The positive parts: Connie in financing is wo...,-1,0.9559,0.052,0.730,0.217
29997,Worst customer service I've ever had! The wait...,-1,-0.7964,0.321,0.679,0.000
29998,-1 \ncomplete scam. stay away. \nanyone want t...,-1,-0.5267,0.308,0.583,0.108
29999,This place is trash. After waiting 35 minutes ...,-1,-0.5423,0.123,0.877,0.000

In [186]:
complete_df.iloc[20735,0]

"Nails are okay. Not very thorough, I wouldn't come back. And crew is not very friendly. I can see the difference between the first coat and second coat, which I'm not very fond of. The decorations are nice though."

In [42]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train_scaled, y_train)

y_pred = clf.predict(X_test_scaled)
acc_test = (accuracy_score(y_pred,y_test))
y_pred = clf.predict(X_train_scaled)
acc_train = (accuracy_score(y_pred,y_train))
# print('kernel = rbf')
print('train accuracy: {}'.format(acc_train))
print('test accuracy: {}'.format(acc_test))

train accuracy: 0.5218518518518519
test accuracy: 0.519074074074074

In [43]:
y_test_pred = clf.predict(scaler.transform(X_final_test))
acc_test = (accuracy_score(y_test_pred,y_final_test))
acc_test

0.529

In [187]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rmfr = RandomForestClassifier()
rmfr.fit(X_train_scaled,y_train)
predrmfr = rmfr.predict(X_test_scaled)
print("Confusion Matrix for Random Forest Classifier:")
print(confusion_matrix(y_test,predrmfr))
print("Score:",round(accuracy_score(y_test,predrmfr)*100,2))
print("Classification Report:",classification_report(y_test,predrmfr))

Confusion Matrix for Random Forest Classifier:
[[1068  486  254]
 [ 566  665  530]
 [ 368  584  879]]
Score: 48.37
Classification Report:               precision    recall  f1-score   support

          -1       0.53      0.59      0.56      1808
           0       0.38      0.38      0.38      1761
           1       0.53      0.48      0.50      1831

    accuracy                           0.48      5400
   macro avg       0.48      0.48      0.48      5400
weighted avg       0.48      0.48      0.48      5400

In [170]:
cc["predict"] = rmfr.predict(cc[["compound","neg","neu","pos"]])
cc

<ipython-input-170-b40eb4da9175>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cc["predict"] = rmfr.predict(cc[["compound","neg","neu","pos"]])

,text,star_revised,compound,neg,neu,pos,predict
0,Really friendly and honest service and quality...,1,0.9201,0.045,0.660,0.296,1
1,I have to admit that I had reservations about ...,1,0.6124,0.000,0.737,0.263,0
2,Put this restaurant on the top of your list fo...,1,0.4939,0.083,0.736,0.181,-1
3,Love this place! Excellent service and ambienc...,1,0.9413,0.000,0.468,0.532,1
4,Found this place on yelp thought we would give...,1,0.3612,0.000,0.839,0.161,0
...,...,...,...,...,...,...,...
29995,"""We are In-Network with many insurances and ha...",-1,0.7572,0.041,0.848,0.111,0
29996,The positive parts: Connie in financing is wo...,-1,0.9559,0.052,0.730,0.217,0
29997,Worst customer service I've ever had! The wait...,-1,-0.7964,0.321,0.679,0.000,-1
29998,-1 \ncomplete scam. stay away. \nanyone want t...,-1,-0.5267,0.308,0.583,0.108,-1
29999,This place is trash. After waiting 35 minutes ...,-1,-0.5423,0.123,0.877,0.000,-1

In [198]:
yy = pd.DataFrame(y_test)
yy["predict"] = predrmfr
yy[yy["predict"]!=yy["star_revised"]]

       star_revised  predict
29307            -1        0
383               1       -1
15095             0       -1
24805            -1        0
18559             0       -1
...             ...      ...
2938              1       -1
10431             0        1
12668             0       -1
13676             0       -1
1861              1        0

[2788 rows x 2 columns]

In [227]:
cc.iloc[18559,0]

'Had the chicken kabob sandwich (which is actually a wrap). It was quite tasty ($7 with tax). However, it takes a while to get your food and a bunch of people end up getting jammed in a corner waiting around. One guy asked me what I had ordered 2 times before preparing my food. It seems like their logistics needs a little work. The restaurant was quite uncomfortably hot, so I took it to go.\n\n\nFood Quality/Taste = 4 Stars\nPortion Size Given Price = 3 Stars\nPrice = 3 Stars\nService = N/A\nExperience with Staff = 2 Stars\nDecor = 2 Stars'

## 只有TF-IDF

In [206]:
X = complete_df.iloc[:,7:1469+7]
# X = X.sample(10000)
y = complete_df["star_revised"]
# y = y.sample(10000)

X_train, X_final_test, y_train, y_final_test = train_test_split(X, y, test_size=0.1, shuffle = True, random_state=123)

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, shuffle = True, random_state=123)

scaler = MinMaxScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [208]:
yyy = pd.DataFrame(y_test)

       star_revised
8292              1
4703              1
416               1
6346              1
13229             0
...             ...
13676             0
16596             0
257               1
1861              1
27207            -1

[5400 rows x 1 columns]

In [209]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rmfr = RandomForestClassifier()
rmfr.fit(X_train_scaled,y_train)
predrmfr = rmfr.predict(X_test_scaled)
print("Confusion Matrix for Random Forest Classifier:")
print(confusion_matrix(y_test,predrmfr))
print("Score:",round(accuracy_score(y_test,predrmfr)*100,2))
print("Classification Report:",classification_report(y_test,predrmfr))

Confusion Matrix for Random Forest Classifier:
[[1314  376  118]
 [ 367 1037  357]
 [ 158  401 1272]]
Score: 67.09
Classification Report:               precision    recall  f1-score   support

          -1       0.71      0.73      0.72      1808
           0       0.57      0.59      0.58      1761
           1       0.73      0.69      0.71      1831

    accuracy                           0.67      5400
   macro avg       0.67      0.67      0.67      5400
weighted avg       0.67      0.67      0.67      5400

In [213]:
yyy["pred"] = predrmfr
yyy[yyy["pred"]!=yyy["star_revised"]]

       star_revised  pred
4703              1     0
24008            -1     1
15095             0    -1
11376             0     1
7826              1     0
...             ...   ...
8698              1     0
20928            -1     0
10431             0     1
12668             0     1
13676             0     1

[1777 rows x 2 columns]

In [228]:
yyy[yyy.index==18559]

       star_revised  pred
18559             0     0

In [219]:
cc.iloc[29307,0]

'Waited for an hour even with appointment! Doctor was kind of rude and unprofessional. Never suggest this place for eye exam or prescriptions'

In [38]:
from sklearn import svm
clf2 = svm.SVC()
clf2.fit(X_train_scaled, y_train)

y_pred = clf2.predict(X_test_scaled)
acc_test = (accuracy_score(y_pred,y_test))
y_pred = clf2.predict(X_train_scaled)
acc_train = (accuracy_score(y_pred,y_train))
# print('kernel = rbf')
print('train accuracy: {}'.format(acc_train))
print('test accuracy: {}'.format(acc_test))

train accuracy: 0.8063888888888889
test accuracy: 0.6468518518518519

In [41]:
y_test_pred = clf2.predict(scaler.transform(X_final_test))
acc_test = (accuracy_score(y_test_pred,y_final_test))
acc_test

0.6453333333333333

## 只有 Hashing

In [122]:
X = complete_df.iloc[:,1469+7+1:1469+7+1+1000]
# X = X.sample(10000)
y = complete_df["star_revised"]
# y = y.sample(10000)

X_train, X_final_test, y_train, y_final_test = train_test_split(X, y, test_size=0.1, shuffle = True, random_state=123)

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, shuffle = True, random_state=123)

scaler = MinMaxScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [123]:
X

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
29997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rmfr = RandomForestClassifier()
rmfr.fit(X_train_scaled,y_train)
predrmfr = rmfr.predict(X_test_scaled)
print("Confusion Matrix for Random Forest Classifier:")
print(confusion_matrix(y_test,predrmfr))
print("Score:",round(accuracy_score(y_test,predrmfr)*100,2))
print("Classification Report:",classification_report(y_test,predrmfr))

Confusion Matrix for Random Forest Classifier:
[[1275  395  138]
 [ 415 1000  346]
 [ 194  437 1200]]
Score: 64.35
Classification Report:               precision    recall  f1-score   support

          -1       0.68      0.71      0.69      1808
           0       0.55      0.57      0.56      1761
           1       0.71      0.66      0.68      1831

    accuracy                           0.64      5400
   macro avg       0.65      0.64      0.64      5400
weighted avg       0.65      0.64      0.64      5400

In [88]:
from sklearn import svm
clf3 = svm.SVC()
clf3.fit(X_train_scaled, y_train)

y_pred = clf3.predict(X_test_scaled)
acc_test = (accuracy_score(y_pred,y_test))
y_pred = clf3.predict(X_train_scaled)
acc_train = (accuracy_score(y_pred,y_train))
# print('kernel = rbf')
print('train accuracy: {}'.format(acc_train))
print('test accuracy: {}'.format(acc_test))

train accuracy: 0.6432407407407408
test accuracy: 0.6316666666666667

In [89]:
y_test_pred = clf3.predict(scaler.transform(X_final_test))
acc_test = (accuracy_score(y_test_pred,y_final_test))
acc_test

0.6313333333333333

## 只有Word2Vec

In [138]:
X = complete_df.iloc[:,1469+7+1000+1+1:]
# X = X.sample(10000)
y = complete_df["star_revised"]
# y = y.sample(10000)

X_train, X_final_test, y_train, y_final_test = train_test_split(X, y, test_size=0.1, shuffle = True, random_state=123)

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, shuffle = True, random_state=123)

scaler = MinMaxScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [139]:
X

,1,2,3,4,5,6,7,8,9,10,...,990,991,992,993,994,995,996,997,998,999
0,-0.025090,-0.015006,0.050183,-0.008713,-0.006472,0.029043,0.011336,-0.004276,0.009235,-0.018762,...,0.036627,-0.019438,0.001469,0.021418,0.040891,0.016560,-0.018130,0.005157,-0.023405,-0.017994
1,-0.024301,-0.014977,0.048436,-0.009314,-0.007004,0.030628,0.010205,-0.003486,0.007611,-0.018587,...,0.037996,-0.016160,0.005254,0.025708,0.041000,0.020114,-0.019419,0.003843,-0.021275,-0.014785
2,-0.025018,-0.014374,0.051697,-0.008166,-0.006112,0.029336,0.010121,-0.005199,0.008253,-0.017775,...,0.036637,-0.017719,-0.001819,0.022197,0.040125,0.017015,-0.019663,0.005574,-0.019150,-0.017642
3,-0.022789,-0.011945,0.046295,-0.008599,-0.007055,0.033095,0.012681,-0.009287,0.005893,-0.016834,...,0.036225,-0.017077,0.003762,0.025469,0.040017,0.017514,-0.021493,0.002756,-0.027396,-0.015407
4,-0.025199,-0.013906,0.053674,-0.007874,-0.006518,0.024930,0.009464,-0.001147,0.009133,-0.020017,...,0.034032,-0.016568,-0.003202,0.019058,0.040529,0.015097,-0.018514,0.006709,-0.016303,-0.017254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,-0.023211,-0.013671,0.049007,-0.007228,-0.005886,0.028791,0.008451,-0.006890,0.006755,-0.017426,...,0.036002,-0.016564,-0.002614,0.019775,0.039461,0.014942,-0.019962,0.004723,-0.019841,-0.016614
29996,-0.023911,-0.013310,0.051653,-0.008006,-0.007004,0.028497,0.008945,-0.004729,0.008314,-0.018549,...,0.035718,-0.016143,-0.001573,0.021464,0.039454,0.016461,-0.021266,0.005889,-0.015884,-0.015449
29997,-0.023536,-0.017004,0.051705,-0.007962,-0.007366,0.028764,0.006435,-0.006404,0.007790,-0.019709,...,0.036524,-0.017683,-0.003197,0.018658,0.036320,0.012450,-0.017898,0.005714,-0.016782,-0.015415
29998,-0.022257,-0.009836,0.043181,-0.006999,-0.003796,0.031293,0.006433,-0.011897,0.005440,-0.014649,...,0.032326,-0.010404,0.000304,0.018111,0.039603,0.021161,-0.025898,0.005554,-0.015790,-0.016263
29999,-0.025082,-0.010783,0.049712,-0.006539,-0.004897,0.025424,0.008852,-0.004720,0.008968,-0.016362,...,0.036842,-0.013805,-0.002244,0.019732,0.039104,0.015274,-0.017533,0.002662,-0.013735,-0.012624

In [140]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rmfr = RandomForestClassifier()
rmfr.fit(X_train_scaled,y_train)
predrmfr = rmfr.predict(X_test_scaled)
print("Confusion Matrix for Random Forest Classifier:")
print(confusion_matrix(y_test,predrmfr))
print("Score:",round(accuracy_score(y_test,predrmfr)*100,2))
print("Classification Report:",classification_report(y_test,predrmfr))

Confusion Matrix for Random Forest Classifier:
[[949 461 398]
 [525 686 550]
 [399 517 915]]
Score: 47.22
Classification Report:               precision    recall  f1-score   support

          -1       0.51      0.52      0.52      1808
           0       0.41      0.39      0.40      1761
           1       0.49      0.50      0.50      1831

    accuracy                           0.47      5400
   macro avg       0.47      0.47      0.47      5400
weighted avg       0.47      0.47      0.47      5400

In [53]:
# Support Vector Machine
from sklearn.svm import SVC
svm = SVC(random_state=101)
svm.fit(X_train_scaled,y_train)
predsvm = svm.predict(X_test_scaled)
print("Confusion Matrix for Support Vector Machines:")
print(confusion_matrix(y_test,predsvm))
print("Score:",round(accuracy_score(y_test,predsvm)*100,2))
print("Classification Report:",classification_report(y_test,predsvm))

Confusion Matrix for Support Vector Machines:
[[989 434 385]
 [570 658 533]
 [448 475 908]]
Score: 47.31
Classification Report:               precision    recall  f1-score   support

          -1       0.49      0.55      0.52      1808
           0       0.42      0.37      0.40      1761
           1       0.50      0.50      0.50      1831

    accuracy                           0.47      5400
   macro avg       0.47      0.47      0.47      5400
weighted avg       0.47      0.47      0.47      5400

In [94]:
y_pred = svm.predict(X_test_scaled)
acc_test = (accuracy_score(y_pred,y_test))
y_pred = svm.predict(X_train_scaled)
acc_train = (accuracy_score(y_pred,y_train))
# print('kernel = rbf')
print('train accuracy: {}'.format(acc_train))
print('test accuracy: {}'.format(acc_test))

train accuracy: 0.4764814814814815
test accuracy: 0.47314814814814815

In [95]:
y_test_pred = svm.predict(scaler.transform(X_final_test))
acc_test = (accuracy_score(y_test_pred,y_final_test))
acc_test

0.4723333333333333

## All

In [103]:
X = complete_df.drop(["stars","star_revised","text"], axis = 1)
# X = X.sample(10000)
y = complete_df["star_revised"]
# y = y.sample(10000)

X_train, X_final_test, y_train, y_final_test = train_test_split(X, y, test_size=0.1, shuffle = True, random_state=123)

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, shuffle = True, random_state=123)

scaler = MinMaxScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [69]:
X

,compound,neg,neu,pos,0,1,2,3,4,5,...,90,91,92,93,94,95,96,97,98,99
0,0.8402,0.048,0.762,0.190,0.000000,0.0,0.0,0.0,0.000000,2.745258,...,0.105875,-0.033451,-0.026138,0.024679,-0.037601,-0.061000,-0.166048,0.052458,-0.118615,0.072526
1,0.9118,0.000,0.792,0.208,3.717091,0.0,0.0,0.0,0.000000,0.000000,...,0.105677,-0.039176,-0.027938,0.023725,-0.036364,-0.061635,-0.172103,0.051059,-0.119155,0.071409
2,0.8807,0.000,0.469,0.531,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.117437,-0.028717,-0.022030,0.019610,-0.039178,-0.067642,-0.170202,0.057510,-0.118782,0.075258
3,0.7676,0.149,0.567,0.284,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.115316,-0.032853,-0.025235,0.023174,-0.034649,-0.067232,-0.162817,0.054005,-0.118994,0.073094
4,0.7964,0.089,0.584,0.327,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.098804,-0.030305,-0.021620,0.028816,-0.040456,-0.065448,-0.178661,0.054761,-0.127731,0.077840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0.2263,0.079,0.826,0.094,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.111577,-0.031301,-0.029552,0.023044,-0.041849,-0.070420,-0.166805,0.056540,-0.116551,0.068233
29996,0.0000,0.000,1.000,0.000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.082966,-0.024784,-0.015498,0.016486,-0.008023,-0.070252,-0.156827,0.073164,-0.102425,0.054823
29997,-0.6369,0.129,0.871,0.000,0.000000,0.0,0.0,0.0,0.000000,2.745258,...,0.110631,-0.036877,-0.030233,0.028657,-0.034333,-0.075313,-0.178338,0.054175,-0.123067,0.073069
29998,0.2235,0.000,0.946,0.054,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.109490,-0.034383,-0.028117,0.018882,-0.033832,-0.072291,-0.167768,0.059603,-0.119954,0.077736
29999,0.9652,0.060,0.764,0.176,0.000000,0.0,0.0,0.0,4.044923,0.000000,...,0.113628,-0.032063,-0.023140,0.021453,-0.037983,-0.063487,-0.163853,0.055615,-0.119396,0.076109

In [104]:
# Support Vector Machine
from sklearn.svm import SVC
svm = SVC(random_state=101)
svm.fit(X_train_scaled,y_train)
predsvm = svm.predict(X_test_scaled)
print("Confusion Matrix for Support Vector Machines:")
print(confusion_matrix(y_test,predsvm))
print("Score:",round(accuracy_score(y_test,predsvm)*100,2))
print("Classification Report:",classification_report(y_test,predsvm))

Confusion Matrix for Support Vector Machines:
[[1237  416  155]
 [ 356  985  420]
 [ 154  324 1353]]
Score: 66.2
Classification Report:               precision    recall  f1-score   support

          -1       0.71      0.68      0.70      1808
           0       0.57      0.56      0.57      1761
           1       0.70      0.74      0.72      1831

    accuracy                           0.66      5400
   macro avg       0.66      0.66      0.66      5400
weighted avg       0.66      0.66      0.66      5400

In [105]:
y_pred = svm.predict(X_test_scaled)
acc_test = (accuracy_score(y_pred,y_test))
y_pred = svm.predict(X_train_scaled)
acc_train = (accuracy_score(y_pred,y_train))
# print('kernel = rbf')
print('train accuracy: {}'.format(acc_train))
print('test accuracy: {}'.format(acc_test))

train accuracy: 0.6712037037037037
test accuracy: 0.6620370370370371

In [106]:
y_test_pred = svm.predict(scaler.transform(X_final_test))
acc_test = (accuracy_score(y_test_pred,y_final_test))
acc_test

0.6616666666666666

## 看SVM结果如何了

In [88]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rmfr = RandomForestClassifier(max_depth=10)
rmfr.fit(X_train_scaled,y_train)
predrmfr = rmfr.predict(X_test_scaled)
print("Confusion Matrix for Random Forest Classifier:")
print(confusion_matrix(y_test,predrmfr))
print("Score:",round(accuracy_score(y_test,predrmfr)*100,2))
print("Classification Report:",classification_report(y_test,predrmfr))

Confusion Matrix for Random Forest Classifier:
[[1246  360  202]
 [ 482  792  487]
 [ 239  376 1216]]
Score: 60.26
Classification Report:               precision    recall  f1-score   support

          -1       0.63      0.69      0.66      1808
           0       0.52      0.45      0.48      1761
           1       0.64      0.66      0.65      1831

    accuracy                           0.60      5400
   macro avg       0.60      0.60      0.60      5400
weighted avg       0.60      0.60      0.60      5400

In [100]:
tr = []
tes= []
fin=[]

for i in [2,4,6,8,10,12,14,16,18,20]:
    rmfr = RandomForestClassifier(max_depth=i)
    rmfr.fit(X_train_scaled,y_train)

    y_pred = rmfr.predict(X_train_scaled)
    acc_train = (accuracy_score(y_pred,y_train))

    y_pred = rmfr.predict(X_test_scaled)
    acc_test = (accuracy_score(y_pred,y_test))
    
    tr.append(acc_train)
    tes.append(acc_test)

    print('train accuracy: {}'.format(acc_train))
    print('test accuracy: {}'.format(acc_test))
    
    y_test_final = rmfr.predict(scaler.transform(X_final_test))
    acc_test = (accuracy_score(y_test_final,y_final_test))
    fin.append(acc_test)

train accuracy: 0.4387962962962963
test accuracy: 0.44037037037037036
train accuracy: 0.4637962962962963
test accuracy: 0.4559259259259259
train accuracy: 0.5099537037037037
test accuracy: 0.4664814814814815
train accuracy: 0.6019907407407408
test accuracy: 0.4722222222222222
train accuracy: 0.7526851851851852
test accuracy: 0.4674074074074074
train accuracy: 0.8868981481481482
test accuracy: 0.46703703703703703
train accuracy: 0.9660648148148148
test accuracy: 0.4635185185185185
train accuracy: 0.9910185185185185
test accuracy: 0.4614814814814815
train accuracy: 0.9990740740740741
test accuracy: 0.4653703703703704
train accuracy: 0.9997685185185186
test accuracy: 0.4737037037037037