In [2]:
import pandas as pd
import numpy as np
import random 
import matplotlib.pyplot as plt

In [28]:
import nltk

In [9]:
# df = pd.read_json("review.json")

df = pd.read_json("review.json", lines=True)

In [10]:
len(df)

200000

In [12]:
df_sample_50 = df.sample(frac = 0.5)

In [14]:
# yelp = df_sample_10[["review_id", "stars", "date", "text", "useful"]]
yelp = df_sample_50[["stars", "text", "useful"]]
yelp

        stars                                               text  useful
3554        5  This was my first time and I wish I could give...       1
82799       5  I LOVE this Half Price Books location.  They d...       2
79355       4  I am a big fan of restaurants who will warmly ...       3
58650       4  Just had Sunday brunch at Soleil. It was terri...       1
182254      1  We usually sacrifice the terrible service for ...       6
...       ...                                                ...     ...
47577       4  I've mostly been to happy hour so keep in mind...       1
99733       2  Rolling bones is alright. Their beef is a lot ...       1
41295       3  I love the décor and how different this place ...       0
152630      4  Love the Geoduck and the service is fast, they...       0
158480      4  It is always nice to eat at Obama.  I went the...       0

[100000 rows x 3 columns]

In [16]:
useful_review = yelp[yelp["useful"] >= 4]
len(useful_review)

6930

In [ ]:
useful_review

In [20]:
grouped = yelp.groupby(by = "stars").size()
grouped

stars
1    11797
2     8590
3    12149
4    25626
5    41838
dtype: int64

## Save as a zip file that contains out.csv

In [18]:
compression_opts = dict(method='zip', archive_name='out.csv')  

df.to_csv('out.zip', index=False, compression=compression_opts)

## Convert notebook to py file

In [5]:
!jupyter nbconvert --to script Data_Overview.ipynb

[NbConvertApp] Converting notebook Data_Overview.ipynb to script
[NbConvertApp] Writing 1006 bytes to Data_Overview.py

In [36]:
yelp

        stars                                               text  useful
3554        5  This was my first time and I wish I could give...       1
82799       5  I LOVE this Half Price Books location.  They d...       2
79355       4  I am a big fan of restaurants who will warmly ...       3
58650       4  Just had Sunday brunch at Soleil. It was terri...       1
182254      1  We usually sacrifice the terrible service for ...       6
...       ...                                                ...     ...
47577       4  I've mostly been to happy hour so keep in mind...       1
99733       2  Rolling bones is alright. Their beef is a lot ...       1
41295       3  I love the décor and how different this place ...       0
152630      4  Love the Geoduck and the service is fast, they...       0
158480      4  It is always nice to eat at Obama.  I went the...       0

[100000 rows x 3 columns]

In [46]:
yelp["lower"] = yelp["text"].str.lower()
yelp

<ipython-input-46-d3d9ddbd26c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp["lower"] = yelp["text"].str.lower()

,stars,text,useful,lower
3554,5,This was my first time and I wish I could give...,1,this was my first time and i wish i could give...
82799,5,I LOVE this Half Price Books location. They d...,2,i love this half price books location. they d...
79355,4,I am a big fan of restaurants who will warmly ...,3,i am a big fan of restaurants who will warmly ...
58650,4,Just had Sunday brunch at Soleil. It was terri...,1,just had sunday brunch at soleil. it was terri...
182254,1,We usually sacrifice the terrible service for ...,6,we usually sacrifice the terrible service for ...
...,...,...,...,...
47577,4,I've mostly been to happy hour so keep in mind...,1,i've mostly been to happy hour so keep in mind...
99733,2,Rolling bones is alright. Their beef is a lot ...,1,rolling bones is alright. their beef is a lot ...
41295,3,I love the décor and how different this place ...,0,i love the décor and how different this place ...
152630,4,"Love the Geoduck and the service is fast, they...",0,"love the geoduck and the service is fast, they..."
158480,4,It is always nice to eat at Obama. I went the...,0,it is always nice to eat at obama. i went the...

In [49]:
cleaned_df = pd.read_csv("df.csv")
cleaned_df

,Unnamed: 0,user_id,stars,useful,text,tokenized_text,tokenized_text_string
0,0,ak0TdVmGKo4pwqdJSTLwWw,4,3,Apparently Prides Osteria had a rough summer a...,"['appar', 'pride', 'osteria', 'rough', 'summer...",appar pride osteria rough summer evidenc almos...
1,1,YoVfDbnISlW0f7abNQACIg,4,1,This store is pretty good. Not as great as Wal...,"['store', 'pretti', 'good', '.', 'great', 'wal...","store pretti good . great walmart ( prefer , m..."
2,2,eC5evKn1TWDyHCyQAwguUw,5,0,I called WVM on the recommendation of a couple...,"['call', 'wvm', 'recommend', 'coupl', 'friend'...",call wvm recommend coupl friend use past thoug...
3,3,SFQ1jcnGguO0LYWnbbftAA,2,1,I've stayed at many Marriott and Renaissance M...,"[""'ve"", 'stay', 'mani', 'marriott', 'renaiss',...",'ve stay mani marriott renaiss marriott 's hug...
4,4,0kA0PAJ8QFMeveQWHFqz2A,4,0,The food is always great here. The service fro...,"['food', 'alway', 'great', '.', 'servic', 'man...",food alway great . servic manag well staff sup...
...,...,...,...,...,...,...,...
199995,199995,RiNdQ_Jwi9fooifC4u_X4Q,1,0,****BUYER BEWARE****\n\nPurchased a voucher th...,"['*', '*', '*', '*', 'buyer', 'bewar', '*', '*...",* * * * buyer bewar * * * * purchas voucher li...
199996,199996,KxelCZRC99hjRSRy1Mj6jg,3,2,"Well, I was going out to breakfast on Sunday m...","['well', ',', 'go', 'breakfast', 'sunday', 'mo...","well , go breakfast sunday morn thought 'd goo..."
199997,199997,OA9R0XlzvJqbDC2IQFMGdQ,3,0,Visited here during vacation. Okay for a quick...,"['visit', 'vacat', '.', 'okay', 'quick', 'brea...",visit vacat . okay quick breakfast noth would ...
199998,199998,SqOimsoafaCiu7EJRCDUBw,5,0,Excellent flavors and so convenient to the min...,"['excel', 'flavor', 'conveni', 'minuteman', 'b...",excel flavor conveni minuteman bicycl trail . ...
199999,199999,CX3mLQGtrm5oHdcsYClOpA,5,1,On The Fly is the best vegan carryout in Colum...,"['fli', 'best', 'vegan', 'carryout', 'columbu'...","fli best vegan carryout columbu , hand . 's at..."

## TF-IDF

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer

sentences = cleaned_df["tokenized_text_string"]

vectorizer = TfidfVectorizer(norm = False, smooth_idf = False)
sentence_vectors = vectorizer.fit_transform(sentences)
# print(sentence_vectors.toarray())

In [51]:
sentence_vectors

<200000x79791 sparse matrix of type '<class 'numpy.float64'>'
	with 9088945 stored elements in Compressed Sparse Row format>

## Hashing Vectorizer

In [55]:
from sklearn.feature_extraction.text import HashingVectorizer

sentences = cleaned_df["tokenized_text_string"]

vectorizer = HashingVectorizer(norm = None, n_features = 500)
sentence_vectors_2 = vectorizer.fit_transform(sentences)
# print(sentence_vectors.toarray())
sentence_vectors_2

<200000x500 sparse matrix of type '<class 'numpy.float64'>'
	with 8493126 stored elements in Compressed Sparse Row format>

## Word2Vec

In [43]:
from gensim.models import word2vec

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [44]:
# sentences = yelp["text"]

# for i, sentence in enumerate(sentences):
# 	tokenized= []
# 	for word in sentence.split(' '):
# 		word = word.split('.')[0]
# 		word = word.lower()
# 		tokenized.append(word)
# 	sentences[i] = tokenized

# model = word2vec.Word2Vec(sentences, workers = 1, size = 2, min_count = 1, window = 3, sg = 0)
# similar_word = model.wv.most_similar('football')[0]
# print("Most common word to football is: {}".format(similar_word[0]))

<ipython-input-44-472ad06bc14a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sentences[i] = tokenized
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

AttributeError: 'list' object has no attribute 'split'

In [ ]:

from sklearn.feature_extraction.text import TfidfVectorizer

sentences = [
    'He is playing in the field.',
    'He is running towards the football.',
    'The football game ended.',
    'It started raining while everyone was playing in the field.'
]

vectorizer = TfidfVectorizer(norm = False, smooth_idf = False)
sentence_vectors = vectorizer.fit_transform(sentences)
print(sentence_vectors.toarray())