In [2]:
import pandas as pd
import numpy as np
import random 
import matplotlib.pyplot as plt

In [28]:
import nltk

In [9]:
# df = pd.read_json("review.json")

df = pd.read_json("review.json", lines=True)

In [10]:
len(df)

200000

In [12]:
df_sample_50 = df.sample(frac = 0.5)

In [14]:
# yelp = df_sample_10[["review_id", "stars", "date", "text", "useful"]]
yelp = df_sample_50[["stars", "text", "useful"]]
yelp

        stars                                               text  useful
3554        5  This was my first time and I wish I could give...       1
82799       5  I LOVE this Half Price Books location.  They d...       2
79355       4  I am a big fan of restaurants who will warmly ...       3
58650       4  Just had Sunday brunch at Soleil. It was terri...       1
182254      1  We usually sacrifice the terrible service for ...       6
...       ...                                                ...     ...
47577       4  I've mostly been to happy hour so keep in mind...       1
99733       2  Rolling bones is alright. Their beef is a lot ...       1
41295       3  I love the décor and how different this place ...       0
152630      4  Love the Geoduck and the service is fast, they...       0
158480      4  It is always nice to eat at Obama.  I went the...       0

[100000 rows x 3 columns]

In [16]:
useful_review = yelp[yelp["useful"] >= 4]
len(useful_review)

6930

In [ ]:
useful_review

In [20]:
grouped = yelp.groupby(by = "stars").size()
grouped

stars
1    11797
2     8590
3    12149
4    25626
5    41838
dtype: int64

## Save as a zip file that contains out.csv

In [18]:
compression_opts = dict(method='zip', archive_name='out.csv')  

df.to_csv('out.zip', index=False, compression=compression_opts)

## Convert notebook to py file

In [5]:
!jupyter nbconvert --to script Data_Overview.ipynb

[NbConvertApp] Converting notebook Data_Overview.ipynb to script
[NbConvertApp] Writing 1006 bytes to Data_Overview.py

In [22]:
df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4,3,1,1,Apparently Prides Osteria had a rough summer a...,2014-10-11 03:34:02
1,8bFej1QE5LXp4O05qjGqXA,YoVfDbnISlW0f7abNQACIg,RA4V8pr014UyUbDvI-LW2A,4,1,0,0,This store is pretty good. Not as great as Wal...,2015-07-03 20:38:25
2,NDhkzczKjLshODbqDoNLSg,eC5evKn1TWDyHCyQAwguUw,_sS2LBIGNT5NQb6PD1Vtjw,5,0,0,0,I called WVM on the recommendation of a couple...,2013-05-28 20:38:06
3,T5fAqjjFooT4V0OeZyuk1w,SFQ1jcnGguO0LYWnbbftAA,0AzLzHfOJgL7ROwhdww2ew,2,1,1,1,I've stayed at many Marriott and Renaissance M...,2010-01-08 02:29:15
4,sjm_uUcQVxab_EeLCqsYLg,0kA0PAJ8QFMeveQWHFqz2A,8zehGz9jnxPqXtOc7KaJxA,4,0,0,0,The food is always great here. The service fro...,2011-07-28 18:05:01
...,...,...,...,...,...,...,...,...,...
199995,QZG0ulHZZy5p1iuK-jcAdQ,RiNdQ_Jwi9fooifC4u_X4Q,ob0T61uPgaKgfJbztLQQXA,1,0,0,0,****BUYER BEWARE****\n\nPurchased a voucher th...,2016-01-21 23:40:23
199996,TG0Uuh8YpsY1b7Iv801MsA,KxelCZRC99hjRSRy1Mj6jg,PQ4vdBi1fBKP3fjyNqCv6w,3,2,7,0,"Well, I was going out to breakfast on Sunday m...",2008-06-16 20:13:06
199997,aDHIx2MzorNwX7-WPrkPlw,OA9R0XlzvJqbDC2IQFMGdQ,e56Itu8AwOurYx1pQxdd8A,3,0,0,0,Visited here during vacation. Okay for a quick...,2017-01-08 11:32:59
199998,G81yd_Dg-dOTFrPR966Vqg,SqOimsoafaCiu7EJRCDUBw,W3T6koisAcVVLIf2jyN3WA,5,0,0,0,Excellent flavors and so convenient to the min...,2016-08-08 00:09:50
199999,tvJn-Yam4xyxWVrWVMXDzQ,CX3mLQGtrm5oHdcsYClOpA,0iNY6i9retew_ipzjxM_vw,5,1,0,0,On The Fly is the best vegan carryout in Colum...,2009-01-10 17:06:52

In [31]:
df_1 = df

In [33]:

df_1[df_1["text"]==""]

# text = nltk.word_tokenize()
# text = nltk.pos_tag(text)

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, useful, funny, cool, text, date, split]
Index: []